body{
    margin: 0;
}

/* navbar */
nav{
    height: 50px;
    font-size: 25px;
    line-height: 30px;
    background-color: lightgray;
}
nav ul li{
    float: left;
    padding: 10px;
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li:hover{
    background-color: darkgray;
}
